@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

@font-face {
  font-family: "agn";
  src: url("../fonts/xLZOxB3xeV6efISFc2LT.woff2") format("woff2"),
    url("../fonts/xLZOxB3xeV6efISFc2LT.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "m";
  src: url("../fonts/PFR7CPtrVbFgulfXm6qE.woff2") format("woff2"),
    url("../fonts/PFR7CPtrVbFgulfXm6qE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "b";
  src: url("../fonts/V7aXs3xHmV53f8vQc7wo.woff2") format("woff2"),
    url("../fonts/V7aXs3xHmV53f8vQc7wo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 */
